/* ----------- body ---------- */

body {
  background-color: #00AAFF;
  font-family: 'Bubblegum Sans';
}

#BodyCont {
  display: flex;
  flex-direction: column;
}

/* ------------- page header -------------- */

#HeaderCont {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 1rem; */
  padding: 1rem;
}

#mainSalmon {
  height: 70px;
  width: 200px;
}

a { 
  width: 200px;
  height: 15px;
  text-decoration: none;
  color: #DC143C;
  
}

a:hover {
  color: #0edcea;
  
}

/* ----------- page main ----------- */

#MainCont {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

#hero {
  max-width: 75%;
  height: auto;
  flex-grow: 1;
}

.imgContTop { 
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.imgCont {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 30px;
}

/* .imgCont img {
  width: 50%;
} */

#articleCont {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

h2 {
  font-size: 32px;
}

.text { 
  flex-grow: 1;
}

#storeInfo { 
  display: flex;
  justify-content: space-evenly;
}

.storeAHC { 
  display: flex;
  flex-direction: column;
}

#storeInfo p {
  max-width: max-content;
}

header, footer {
  background-color: #FA8072;
  text-align: center;
}

footer { 
  color: #DC143C;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Bubblegum Sans', sans-serif;
  color: #DC143C;
  font-size: 36px;
}

/* ------------- sales table ------------ */

table, th, td {
  background-color: #02BC6B;
  border: 1px solid azure;
  padding: 5px;
  text-align: center;
}

#table {
  margin: 2rem;
  text-align: center;
}

table {
  margin: auto;
}

th {
  font-weight: bolder;
  background-color: olivedrab;
}

#StoreData th {
  background-color: #02BC6B;
}

/* ---------------- form ---------------- */

#salesForm {
  margin: 5px;
}

fieldset {
  background-color: #02BC6B;
  border: 2px solid azure;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 125px;
  padding: 1rem;
  margin: auto;
}

legend { 
  background-color: olivedrab;
  width: 100px;
  text-align: center;
  border: 2px solid azure;
  border-radius: 5px;
}

label { 
  width: 300px;
  display: flex;
  justify-content: space-between;
}