body {
  background-color: #BFA6A2;
}

#BodyCont {
  display: flex;
  flex-direction: column;
}

#HeaderCont {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 1rem; */
  padding: 1rem;
}

a { 
  width: 200px;
  height: 15px;
  
}

#MainCont {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

#hero {
  flex-grow: 1;
}

.imgCont {
  border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 30px;
}

/* .imgCont img {
  width: 50%;
} */

#articleCont {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

h2 {
  font-size: 32px;
}

.text { 
  flex-grow: 1;
}


header, footer {
  background-color: #FA8072;
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 36px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table {
  margin: auto;
}

th {
  font-weight: bold;
}